/* ===== RESET BÁSICO ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    color: #ff7a00;
    min-height: 150vh;
}

/* CONTENEDOR MOTOS */
.motos {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* permite que bajen en móvil */
  justify-content: center;
}

header {
    text-align: center;
    padding: 2.5rem 1rem;
    background: rgba(61, 61, 61, 0.4);
    backdrop-filter: blur(6px);
}

header h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ff7a00; 
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: 1100px;
    margin: auto;
}

a {
    color: #ff7a00; 
    text-decoration: none;
    font-weight: 600;
    transition: color 0.4s;
}

a:hover {
    color: #ffffff; 
}

img {
    max-width: 100%; /* clave para móvil */
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(255, 122, 0, 0.35); 
    transition: transform 0.4s;
}

img:hover {
    transform: scale(1.05);
}

section {
    background: rgba(80, 41, 5, 0.35); 
    padding: 1.8rem;
    border-radius: 16px;
    line-height: 1.7;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #ff7a00;
}

ul {
    list-style: none;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}

article img {
    width: 170px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 0.8rem;
}

article {
    background: rgba(61, 61, 61, 0.4); 
    padding: 1rem;
    border-radius: 12px;
    transition: transform 0.4s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article:hover {
    transform: translateY(-8px);
    background: rgba(255,122,0,0.2);
}

article strong {
    display: block;
    font-size: 1.1rem;
    color: #ff7a00;
}

hr {
    margin-bottom: 1rem;
    border: none;
    height: 1px;
    background: #ff7a00;
}

footer {
    text-align: center;
    padding: 5rem;
    background: rgba(61, 61, 61, 0.4);
    font-size: 1rem;
    color: #ff7a00;
}


footer {
    padding: 3rem 1rem;
    font-size: 0.9rem;
}

/* ===== tamaño para movil ===== */
@media (max-width: 750px) {

    header h1 {
        font-size: 2rem;
    }

    main {
        padding: 1.2rem;
    }

    section {
        padding: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    ul {
        grid-template-columns: 1fr;
    }

    article img {
        width: 100%;
        height: auto;
    }

footer {
    padding: 3rem 1rem;
    font-size: 0.9rem;
}
}



