<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Grupal</title>

    <!-- CSS correcto -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Tipografía -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <h1>Lista de Motos</h1>
        <button id="modoBtn">Cambio de Modo</button>
        <button id="temaBtn">Modo claro</button>

        <button onclick="filtrar('todas')">Todas</button>
        <button onclick="filtrar('Diesel')">Diesel</button>
        <button onclick="filtrar('Gasolina')">Gasolina</button>
    </header>

    <main>
        <a href="https://github.com/Manuel7574r8u/LISTA-DE-MOTOS.git"> 
            Ver Git Hub del grupo
        </a>

        <div class="motos">
            <img src="{{ url_for('static', filename='img/motos.jpg') }}" width="250">
            <img src="{{ url_for('static', filename='img/motoaprilia.jpg') }}" width="270">
            <img src="{{ url_for('static', filename='img/motoyamaha.jpg') }}" width="475">
        </div>

        <section>
            <h2>Información sobre nuestras motos:</h2>  
            <strong>Somos una fábrica de motos innovadora que nace con una idea clara:</strong>
            crear motocicletas que combinen potencia, diseño futurista y respeto por el medio ambiente.
        </section>

        <section>
            <h2>Algunas de las motos que vendemos son:</h2>   
            <ul>
               {% for item in items %}
            <article>
                <h3>{{ item.marca }}</h3>
                <img src="{{ url_for('static', filename='img/' + item.imagen) }}" width="250">
                <p>Cilindrada: {{ item.cilindrada }}</p>
                <p>Serie: {{ item.serie }}</p>
                <p>Combustible: {{ item.combustible }}</p>
                <p><strong>Precio: {{ item.precio }} €</strong></p>
            </article>
            {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
        <hr>
        Creado por <em>Manuel, Ismael y Damar</em> - 2026.
    </footer>

    <!-- MODAL -->
    <div id="modal" class="modal">
        <div class="contenido">
            <span id="cerrar">X</span>
            <p id="textoModal"></p>
        </div>
    </div>

    <!-- ✅ JS CORRECTO (IMPORTANTE) -->
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>

</body>
</html>